td,
th {
    vertical-align: middle;
}
@media (min-width: 768px) {
    #main {
        width: calc(100% - 250px);
        margin-left: 250px;
        min-height: 100vh;
        height: auto;
    }
}
.wrapper {
    position: relative;
    width: 100%;
}
