<h3 class="mt-3">
    <span style="vertical-align: -webkit-baseline-middle"> Edit events </span>
    <button class="btn btn-primary pull-right" (click)="addEvent()">
        Add new
    </button>
    <div class="clearfix"></div>
</h3>
<div class="table-responsive">

    <table class="table table-borderless table-hover">

        <thead class="grey lighten-2">
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="th-lg">Title</th>
                <th scope="col">Color</th>
                <!-- <th>Secondary color</th> -->
                <th scope="col" class="th-lg">Starts at</th>
                <th scope="col" class="th-lg">Ends at</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let event of events; let index = index">
                <th scope="row">{{index + 1}}</th>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()">
                </td>
                <td>
                    <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()">
                </td>
                <!-- <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()">
      </td> -->
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="refresh.next()" [altInput]="true"
                        [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">
                </td>
                <td>
                    <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()" [altInput]="true"
                        [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set">
                </td>
                <td>
                    <button mdbBtn size="sm" mdbWavesEffect type="button" class="btn btn-danger" (click)="events.splice(index, 1); refresh.next()">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>

    </table>

</div>