<!-- Grid row -->
<div class="row">
  <!-- Grid column -->
  <div class="col-md-12 mb-4">
      <button type="button" class="btn btn-primary px-3"><i class="fa fa-android" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-default px-3"><i class="fa fa-balance-scale" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-secondary px-3"><i class="fa fa-birthday-cake" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-success px-3"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-info px-3"><i class="fa fa-tint" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-warning px-3"><i class="fa fa-bolt" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-danger px-3"><i class="fa fa-users" aria-hidden="true"></i></button>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-12 mb-4">

      <button type="button" class="btn btn-elegant"><i class="fa fa-user-o pr-2" aria-hidden="true"></i>User</button>
      <button type="button" class="btn btn-unique"><i class="fa fa-wifi pr-2" aria-hidden="true"></i>Wifi</button>
      <button type="button" class="btn btn-pink"><i class="fa fa-plane pr-2" aria-hidden="true"></i>Plane</button>
      <button type="button" class="btn btn-purple"><i class="fa fa-heart pr-2" aria-hidden="true"></i>Heart</button>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-12">

      <button type="button" class="btn btn-outline-secondary waves-effect px-3"><i class="fa fa-trophy" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-outline-info waves-effect px-3"><i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-outline-warning waves-effect px-3"><i class="fa fa-rocket" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-outline-primary waves-effect"><i class="fa fa-sun-o pr-2" aria-hidden="true"></i>Sunny</button>
      <button type="button" class="btn btn-outline-default waves-effect"><i class="fa fa-star pr-2" aria-hidden="true"></i>Star</button>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->